<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-5">
    <h1>User List</h1>

    <!-- Add User Button -->
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#AddEditModal">
      Add User
    </button>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Sex</th>
          <th>User ID</th>
          <th>Email</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.sex }}</td>
          <td>{{ user.userid }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.location }}</td>
          <td>
            <a href="{% url 'user_detail' user.id %}" class="btn btn-info btn-sm">Details</a>
            <!-- Trigger the modal -->
            <a href="{% url 'user_update' user.pk %}" class="btn btn-warning btn-sm edit-user" data-bs-toggle="modal"
              data-bs-target="#AddEditModal">Edit</a>
            <form method="post" action="{% url 'user_delete' user.id %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- The modal content /form is in user_form.html -->
    {% include 'users/user_form.html' %}
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // JavaScript to trigger the modal for "Add" and "Edit"
      $('#userModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var modal = $(this);
        if (button.hasClass('edit-user')) {
          modal.find('.modal-title').text('Edit User'); 
        } else {
          modal.find('.modal-title').text('Add New User');
        }
      });
    });
  </script>
</body>

</html>